.btn {
    padding: 6px 10px;
    font-size: 12px;
    font-weight: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    background-color: #30B5E0;
    border-radius: 100px;
    color: #ffffff;
}

.btn-outline-primary {
    border: 1px solid #30B5E0;
    border-radius: 100px;
    color: #30B5E0;
}

.contact-button {
    background-color: #30B5E0;
    border-radius: 100px;
    color: #FFFFFF;
}

@media (min-width: 641px) {
    /* Your styles for screens larger than the 'sm' breakpoint go here */
    .btn {
        padding: 10px 24px;
        font-size: 20px;
    }
}