/* TAILWIND IMPORTS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS IMPORTS */
@import './nav.css';
@import './typography.css';
@import './buttons.css';
@import './shadows.css';
@import './inputs.css';

/* FONTS */
@font-face {
  font-family: 'QuincyCF-BoldItalic';
  src: local('QuincyCF-BoldItalic'), url(../../public/fonts/QuincyCF-BoldItalic.woff) format('woff')
}
@font-face {
  font-family: 'HergonGrotesk-Regular';
  src: local('HergonGrotesk-Regular'), url(../../public/fonts/HergonGrotesk-Regular.ttf)
  format('ttf')
}

body {
  font-family: 'HergonGrotesk-Regular', Arial, Helvetica, sans-serif;
}