@tailwind base;
@tailwind components;
@tailwind utilities;

.cursive {
  font-family: 'Dancing Script';
}

.input-font {
  font-family:  'Montserrat';
}

body {
  background: linear-gradient(to bottom, #ffffff, #7baac8);
}